html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(155, 157, 158);
}

header {font-family: arial, cursive;
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    background-color: rgb(155, 157, 158);
    padding: 10px;
    margin: 5px;  
}
    /** gestion police charactere bandeau titre start**/
section, .section2, .section1{
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    background-color: rgb(155, 157, 158);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
    /** gestion police charactere bandeau titre page 1 end**/

    /** gestion format bandeau titre page 1 start**/
.tete {
    display: flex;     
    justify-content: center;     
    align-items: center;
    max-width:  100%;
    flex-direction: column;
}
    /** gestion format bandeau titre page 1 end**/

    /* page 1 boite couleur du chef Start */
.chef {
    font-size: 20px;
    color: darkblue;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;   
}
h1 span {
    border: 4px solid darkblue;
    padding: 10px;
    border-radius: 5px
}
    /* page 1 boite couleur du chef End */

    /* contenant photo restau start*/
#resto {
    display: flex;     
    justify-content: center;     
    align-items: center; 
    height: 500px;    
    width: 100%;
    border-radius: 10px;   
}
    /* contenant photo restau end*/

    /*** test
.* {
  box-sizing: border-box;
}
  
    
/* Float four columns side by side */  /* grid-container*/
.column {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
  }
  
  .fa {font-size:20px;}

    /* menu deroulant start */
   
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
} 
li {
    float: left;
} 
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
} 
li a:hover {
    background-color: darkgrey;
}
    /* menu deroulant end */

/* grid-container Starter start*/
.grid-test{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 25px 456px;
    grid-template-areas: 
    "titre titre "
    "image  texte ";
    height: auto;
    width: auto; 
    }
    
    /*grid-item*/
    
    .monTitreTest{
      grid-area: titre;
      font-size: 25px;
      font-style: italic;
      font-weight: lighter;
    
    }
    
    .imageContenant{
      grid-area: image;
      object-fit: contain;
    }
    
    .textContenant{
      grid-area: texte;
      text-align: center;
      margin: 5px;
      padding: 5px;
      align-self: center;
      background-color: lavenderblush;
      font-size: 18px;
      font-style: italic;
      border-radius: 8px;
    }
/* grid Starter end*/

/* section copyright start*/
   .copyright {
    font-size: 10pt;
    text-align: right;
    padding-bottom: 10px;
    color: black;
}
/* section copyright end*/



    /* menu image start*/
    
.menu img{
    height: 450px;
    width:  450px;
    border-radius: 8px;
}
 /* menu image end*/





    /**contact form section start**/

form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}

}
    /**contact form section start**/