html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(155, 157, 158);
}

header {font-family: arial, cursive;
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    background-color: rgb(155, 157, 158);
    padding: 10px;
    margin: 5px;  
}
    /** gestion police charactere section start**/
section, .section2, .section1{
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    background-color: rgb(155, 157, 158);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
    /** gestion police charactere section end**/

    /** gestion format bandeau titre page 1 start**/
.tete {
    display: flex;     
    justify-content: center;     
    align-items: center;
    max-width:  100%;
    flex-direction: column;
}
    /** gestion format bandeau titre page 1 end**/

    /* page 1 boite couleur du chef Start */
.chef {
    font-size: 20px;
    color: darkblue;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0; 
}
.chef1 {
    font-size: 20px;
    color: darkblue;
    margin: 0 0 10px 0; 
}

h1, h2 span {
    border: 4px solid darkblue;
    padding: 10px;
    border-radius: 5px
}
    /* page 1 boite couleur du chef End */

    /* contenant photo restau start*/
#resto {
    display: flex;     
    justify-content: center;     
    align-items: center; 
    height: 500px;    
    width: 100%;
    border-radius: 10px;   
}
    /* contenant photo restau end*/

    /* menu image start*/
    
.menu img{
    height: 450px;
    width:  450px;
    border-radius: 8px;
    }
     /* menu image end*/

    /* mise en page menu start */
  
.boitetext{
    display: flex;
    background-color:lavenderblush;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-align:center;
    border-radius: 6px;
}
      
.boite{
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
      }
      
.fix-both{
    align-items: flex-end;
    font-size: 20px;
    color: darkblue;
}
      
.titrerecette{
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;

}

    /* mise en page menu end */





    /* menu deroulant start */
   
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
} 
li {
    float: left;
} 
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
} 
li a:hover {
    background-color: darkgrey;
}
    /* menu deroulant end */


    /* section copyright start*/
   .copyright {
    font-size: 10pt;
    text-align: right;
    padding-bottom: 10px;
    color: black;
}
    /* section copyright end*/

     /* section quote start*/
 .quote {
    font-size: 15px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    color: blueviolet;
}
    /* section quote end*/

    /**contact form section start**/
form {
    text-align: center;
    margin-top: 0;
    width: 65%;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea, select {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.face {
    transform: scale(0.6);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -65px;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}

}
    /**contact form section end**/

    /***** ZONE DE TEST2**/

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide,
 make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/** test slide start**/

/* Slideshow container */
.slideshow-container {
    position: relative;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 40px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: green;
    transition: background-color 1s ease;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
    background-color:violet;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style and size to all quotes */
  q {font-style: italic;
    font-size: 25px
}
  
  /* Add a blue color to the author */
  .author {color: darkblue;}