html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(155, 157, 158);
}

header {font-family: arial, cursive;
  font-size: 25px;
  font-style: italic;
  font-weight: lighter;
  background-color: rgb(155, 157, 158);
  padding: 10px;
  margin: 5px;  
}
/** gestion police charactere bandeau titre page 2 start**/
.section2 {
  font-family: Arial, Helvetica, sans-serif, cursive;
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  background-color: rgb(155, 157, 158);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
  /** gestion police charactere bandeau titre page 2 end**/

.titrerecette{
  font-weight: bold;
  
  

}
}
.boite{
  display: flex;
  align-items: center;
  margin: 5px;
    }
    
.fix-both{
  align-items: flex-end;
}


.plats123{
    background-color:none;
    width: auto;
    height: auto;
    text-align: center;
    color: #CB7218;
    font-size: 30px;
    font-style: italic;
}
.palts456 p{
    text-align: center;
}

img{
  height: 450px;
  width: 450px
  background-color: white;
}

  /* section copyright start*/
  .copyright {
    font-size: 10pt;
    text-align: right;
    padding-bottom: 10px;
    color: black;
}
    /* section copyright end*/

/***** ZONE DE TEST2*

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide,
 make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



/* grid-container*/
.grid-test{
display: grid;
grid-template-columns: auto auto;
grid-template-rows: 25px 456px;
grid-template-areas: 
"titre titre "
"image  texte ";
height: 1000px;
width: 1000px;

}

/*grid-item*/

.monTitreTest{
  grid-area: titre;
  font-size: 25px;
  font-style: italic;
  font-weight: lighter;

}

.imageContenant{
  grid-area: image;
  object-fit: contain;
}

.textContenant{
  grid-area: texte;
  text-align: center;
  margin: 5px;
  align-self: center;
  background-color: lavenderblush;
  font-size: 18px;
  font-style: italic;
}