/** plus necessaire**/
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
  font-family: arial, cursive;
  font-size: 25px;
  font-style: italic;
  font-weight: lighter;
  background-color: rgb(155, 157, 158);
  padding: 10px;
  margin: 5px;  
}
/**encore necessaire**/
body {
    background-color: rgb(155, 157, 158);
    font-family: serif, cursive;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
}
  
  li {
    float: left;
}
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
  li a:hover {
    background-color: darkgrey;
}
/* pour mettre image à gauche */
#menu img{
    height: 450px;
    width:  450px;
    border-radius: 8px;

}

#menu{
  display: flex;
  flex-direction: column;
  height: auto;
}
/* pour text à droite de l'image */

/***** ZONE DE TEST*/

.boitetext{
  display: flex;
  background-color:lavenderblush;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-align:center;
}

.boite{
  display: flex;
  align-items: center;
  margin: 5px;
}

.fix-both{
  align-items: flex-end;
}

.titrerecette{
  font-weight: bold;
  text-decoration: underline;
}
.copyright {
  font-size: 10pt;
  text-align: right;
  padding-bottom: 10px;
  color: black;
}
/***** ZONE DE TEST2**/

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide,
 make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}