
    /*** test
.* {
  box-sizing: border-box;
}
  
 /***   
/* Float four columns side by side */  /* grid-container*/
.column {
    float: left;
    width: 50%;
    padding: 0 5px;
  }
  
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }

  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
  }
  
  .fa {font-size:20px;}






/* grid-container Starter start*/
.grid-test{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 25px 456px;
    grid-template-areas: 
    "titre titre "
    "image  texte ";
    height: auto;
    width: auto; 
    }
    
    /*grid-item*/
    
    .monTitreTest{
      grid-area: titre;
      font-size: 25px;
      font-style: italic;
      font-weight: lighter;
    
    }
    
    .imageContenant{
      grid-area: image;
      object-fit: contain;
    }
    
    .textContenant{
      grid-area: texte;
      text-align: center;
      margin: 5px;
      padding: 5px;
      align-self: center;
      background-color: lavenderblush;
      font-size: 18px;
      font-style: italic;
      border-radius: 8px;
    }
/* grid Starter end*/