/* position all head elements Start*/

header {
    display: flex;
    justify-content: center;
    height: 250px;
    background-color: lightsteelblue;
}

.tete{
    height:250px;
    width: 320px;
    background-color:rgb(189, 124, 209);
    border-radius: 20%
}
.yeux{
    display: flex;
    justify-content: space-around;
}
.oeil1{
    background-color: black;
    height:3em;
    width:3em;
    border-radius:50%;
    margin: 1em;

}
.oeil2{
    background-color: black;
    height:3em;
    width:3em;
    border-radius:50%;
    margin: 1em;
}

.bouche{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
.baveg{
    background-color: black;
    height:1em;
    width: 1em;
}
.baved{
    background-color: black;
    height:1em;
    width: 1em;
}

.milieu{
    background-color: rgb(180, 87, 87);
    height:1em;
    width: 6em;
}
/* position all head elements end*/
/* position cou start*/
nav{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: lightsteelblue;
}
.cou{
    height: 50px;
    width: 100px;
    background-color: darkgray;
}
/* position cou end*/
/* position all body elements start*/
section{
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: lightsteelblue
}
.bouton{
    width: 12.5em;
    height:6em;
    font-size: 2em;
    background-color: blue;
    border-radius:25px;
}

.bdroit{
height: 600px;
width: 150px;
background-color: darkgray;
animation: hellod 3s linear infinite;
transform-origin: top right;
border-top-right-radius: 15%;
border-top-left-radius: 15%;
}

@keyframes hellod{
    0% {transform: rotate(0deg)}
    25% {transform: rotate(+5deg)}
    35% {transform: rotate(+15deg)}
    50% {transform: rotate(+25deg)}
    65% {transform: rotate(+40deg)}
    75% {transform: rotate(+60deg)}
    100% {transform: rotate(+90deg)} 
}

.tronc{
height: 600px;
width: 400px;
background-color: darkgray;
margin-left: 3em;
margin-right: 3em;
border-radius: 25px;
}

.bgauche{
    position: static;
    height: 600px;
    width: 150px;
    background-color: darkgray;
    animation: hellog 3s linear infinite;
    transform-origin: top left;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

@keyframes hellog{
    0% {transform: rotate(0deg)}
    25% {transform: rotate(-5deg)}
    35% {transform: rotate(-15deg)}
    50% {transform: rotate(-25deg)}
    65% {transform: rotate(-40deg)}
    75% {transform: rotate(-60deg)}
    100% {transform: rotate(-90deg)}  
}
/* position all body elements end*/
/* position leg elements start*/
main{
    display: flex;
    justify-content:center;
    height: 450px;
    background-color: lightsteelblue;
}

.jdroit{
    height: 450px;
    width: 150px;
    background-color: rgb(102, 162, 240);
    margin-right: 1em;
}    

.jgauche{
    height:450px;
    width: 150px;
    background-color: rgb(102, 162, 240);
   
    }
    /* position leg elements end*/
     /* position feet elements start*/
footer{
    display: flex;
    justify-content:center;
    height: 50px;
    background-color: lightsteelblue;
}
.pdroit{
    height: 40px;
    width: 150px;
    background-color: maroon;
    margin-right: 1em;
    margin-top: 0.5em;
}    

.pgauche{
    height:40px;
    width: 150px;
    background-color:maroon;
    margin-top: 0.5em;
}
      /* position feet elements end*/
