html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    color:white;
    font-weight: bold;
    background-image:url(/JS/fromages/cheese.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
}

h2{
    transform: rotate(-90deg);
    color:black;
    font-weight: bolder;
    font-size: xx-large;
    height: 200px;
  margin-top: 500px;

}
section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
  
}
section div {
    color:black;
    background-color:rgba(247, 244, 244, 0.253);
    width: 85%;
    margin: 10px;
    justify-content: center;
    border: 2px solid black;   
}
