*{
    margin: 0;
    padding: 0;   
}
body{
    background-color: antiquewhite;
}

.conteneur{
    display: flex;
    justify-content: space-around;
    margin-left: 2em;
    margin-top: 10em;
}


section{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30em;
    width: 20em;
    background-color: rgb(26, 23, 23); 
    padding: 1em; 
}
.red{
    background-color: rgb(133, 22, 22);
    height:10em;
    width:10em;
    border-radius:50%;
    margin: 1em;
    animation: Redanim 4s infinite; 
}
.yellow{
    background-color: rgb(172, 109, 33);
    height:10em;
    width:10em;
    border-radius:50%;
    margin: 1em;
    animation: Yellowanim 4s infinite;
}
.green{
    background-color: darkgreen;
    height:10em;
    width:10em;
    border-radius:50%;
    margin: 1em;
    animation: Greenanim 3s infinite;
}
.red:hover{
    background-color: red;
    transition-duration: 1s;
}

.yellow:hover{
    background-color: rgb(238, 238, 10);
    transition-duration: 1s;
}
.green:hover{
    background-color:  rgb(6, 247, 6);
    transition-duration: 1s;
}


/* parti animation */

#red{
    animation: Redanim 4s infinite;
}

#yellow{
    animation: Yellowanim 4s infinite;
    animation-delay: 1s;
}

#green{
    animation: Greenanim 4s infinite;
    animation-delay: 2s;
}

#greenb{
    animation: Greenanim 4s infinite;
}

#yellowb{
    animation: animeYellow 4s infinite;
    animation-delay: 1s;
}

#redb{
    animation: animeRed 4s infinite;
    animation-delay: 2s;
}




/* keyframe start*/

@keyframes Redanim{

    0%{background-color: rgb(133, 22, 22);}
    33%{background-color: rgb(216, 25, 25)};
    100%{background-color: red};
}
@keyframes Yellowanim{
    0%{background-color:rgb(172, 109, 33);}
    33%{background-color: orange};
    100%{background-color: rgb(238, 238, 10)};
}
@keyframes Greenanim{
    0%{background-color:darkgreen};
    33%{background-color: rgb(31, 185, 31)};
    100%{background-color: rgb(0, 255, 0)};
}