body{background-color: purple;
}
section{
    width: 100%;
    height:50em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

article{    
    background-color: white;
    width: 15em;
    height: 15em;
}
img{
    height: 80%;
    width: 80%;
}