html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    background-color: brown;
}

section{
    height: 10vh;
    display: flex;
    padding-top: 150px;
}

article{
    background: url(homer.png) 50%  30% no-repeat;
    border-radius: 10%;
    margin: auto;
    width: 12em;
    height:15.6em;
    transition: all .4s ease-in-out;
}
article:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 10px #000 inset;
    background-position: 50% 30%;
}

