header {
    height: 150px;
background-color: lightskyblue;
}
nav{
    height: 150px;
    background-color: gray;
}
section{
    height: 700px;
    background-color: lightsteelblue
}
aside{
height: 700px;
width: 200px;
float: right;
background-color: darkgray;
}
footer{
    height: 150px;
    background-color: darkslategray;
}