html, body, section{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
}
main{
    display:flex;
    flex-direction:column;
}
section h1{
    font-size:48px;
    width:408px;
    line-height:60px;
    min-height:60px;
    background-color:rgb(160, 157, 157);
    border:1px solid #E9E9E9;
    text-align:right;
    color: navy;
}
section{
    margin:auto;
    display:flex;
    flex-flow:wrap row;
    width: 420px;
    height:400px;
}
article{
    width:100px;
    height:100px;
    background-color:rgb(87, 86, 86);
    border:1px solid #666;
    border-radius: 7px;
    color:#000;
    transition:all .4s ease-in-out;
    text-align:center;
    line-height:100px;
    font-size:24px;
}
article:hover{
    background-color:rgb(75, 59, 134);
    border:1px solid #E9E9E9;
    color:#FFF;
    cursor:pointer;
}