html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(65, 112, 136) ;
}

header {font-family: arial, cursive;
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    background-color: rgb(65, 112, 136);
    padding: 10px;
    margin: 5px;  
}
    /** gestion police charactere section start**/
section {
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    background-color: rgb(184, 188, 190);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
    /** gestion police charactere section end**/

        /** gestion format bandeau titre page 1 start**/
.tete {
    display: flex;     
    justify-content: center;     
    align-items: center;
    max-width:  100%;
    flex-direction: column;
}
    /** gestion format bandeau titre page 1 end**/
    
    /* contenant photo logo css start*/
    #logo {
        display: flex;     
        justify-content: center;     
        align-items: center; 
        height: 300px;    
        width: 100%;
        border-radius: 10px;   
    }
        /* contenant photo logo css end*/

 /* contenant photo logo cssenegal start*/
 #logo1 {
    display: flex;     
    justify-content: center;     
    align-items: center;
    height: 300px;    
    width: 50%;
    margin: 10px;
    border-radius: 10px;   
}
    /* contenant photo logo cssenegal end*/


  /* page 1 boite couleur du chef Start */
  .chef {
    font-size: 20px;
    color: darkblue;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0; 
}

h1, h2 span {
    border: 4px solid darkblue;
    padding: 10px;
    border-radius: 5px
}

/* page 1 boite couleur du chef End */

          /* menu deroulant start */
   
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
} 
li {
    float: left;
} 
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
} 
li a:hover {
    background-color: darkgrey;
}
    /* menu deroulant end */

/* OL list page 2 start */
.disc {
    list-style-type: disc;

}
.type { 
    color: black;
    text-decoration: underline;
    font-size:18px;
    padding: 10px;
    float: none;
}
/* OL list page 2 end*/

/** format page 2 start**/
.section1 {
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    background-color: rgb(184, 188, 190);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
/** format page 2 start**/

/* text html page 2 start*/
.texthtml {
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    background-color:darkgrey;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
.texthtml1 {
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
    color: red;
    background-color:rgb(148, 132, 132);
    padding: 10px;
    margin: 5px;
}
.texthtml2 {
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 18px;
    color: red;
    background-color:rgb(148, 132, 132);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
.texthtml2 {
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 18px;;
    background-color:rgb(148, 132, 132);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
/* text html page 2 end */

    /* section copyright start*/
.copyright {
    font-size: 10pt;
    text-align: right;
    padding-bottom: 10px;
    color: black;
}
    /* section copyright end*/

     /* section quote start*/
 .quote {
    font-size: 15px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(117, 25, 105);
}
    /* section quote end*/