html, body, section{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
section{
    display:flex;
}
article{
    width:800px;
    height:400px;
    margin:auto;
    box-shadow:1px 1px 6px #000;
    border-radius: 10px;
}
article:hover{
    cursor: pointer;
}
article div{
    width:800px;
    height:400px;
    position:absolute;
    transition:all .6s ease-in-out;
    border-radius: 10px;
}
.lachePas{
    opacity:0;
}