*{
    margin: 0;
    padding: 0;   
}
body{background-color: rgb(22, 18, 18);
    display: flex;
}

iframe, video {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}